/*<meta />*/

body
{
	background-color: #ffffff;
	font-size: 10pt;
	font-family: Arial;
}

#banner
{
	width: 100%;
	overflow: hidden;
	margin-left: -10pt;
	margin-right: 0pt;
	padding-right: 23px;
}

#content
{
	margin: 0px 10px 0px 10px;
	margin-left: 0px;
}

h1
{
	text-align: left;
	margin-bottom: 6pt;
	line-height: 150%;
	background-color: Transparent;
	border-bottom-style: None;
	font-style: normal;
	margin-top: 6pt;
	margin-right: 0px;
	margin-left: 0px;
	font-size: 16pt;
	font-family: Arial;
	color: #ff4e00;
	font-weight: normal;
}

h2
{
	text-align: left;
	margin-top: 18pt;
	margin-bottom: 6pt;
	font-size: 12pt;
	font-style: normal;
	font-family: Arial;
	color: #005f97;
	font-weight: normal;
}

h3
{
	margin-top: 6.00pt;
	margin-bottom: 6.00pt;
	text-align: left;
	margin-left: 0pt;
	margin-right: 0pt;
	font-family: Arial;
	color: #005f97;
	font-size: 11pt;
	font-weight: normal;
}

p
{
	font-size: 10pt;
	margin-left: 10pt;
	font-family: Arial;
}

li
{
	font-size: 10pt;
	font-family: Arial;
}

p.Normal-Indent
{
	text-align: left;
	font-size: 10pt;
	margin-left: 40pt;
	margin-top: 6.00pt;
	margin-bottom: 6.00pt;
	font-family: Arial;
}

li.Bullet-list
{
	margin-left: 0pt;
	margin-top: 6.00pt;
	margin-bottom: 6.00pt;
	text-indent: 0pt;
	text-align: left;
	font-size: 10pt;
	font-family: Arial;
	list-style-image: none;
}

li.Bullet2-list
{
	text-align: left;
	font-size: 10pt;
	margin-left: 14.4pt;
	margin-top: 6pt;
	margin-bottom: 6pt;
	font-family: Arial;
	list-style-image: none;
}

li.Bullet3-list
{
	text-align: left;
	font-size: 10pt;
	margin-left: 26.4pt;
	margin-top: 6pt;
	margin-bottom: 6pt;
	font-family: Arial;
	list-style-image: none;
}

p.Code
{
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-align: left;
	font-family: 'Courier New';
	font-size: 10pt;
}

p.Code-indent
{
	margin-left: 14.40pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-align: left;
	font-family: 'Courier New';
	font-size: 10pt;
}

p.Code-indent2
{
	text-indent: 30pt;
	margin-left: 30pt;
	margin-top: 4.00pt;
	margin-bottom: 0.00pt;
	text-align: left;
	font-family: 'Courier New';
	font-size: 10pt;
}

p.list-continue
{
	text-align: left;
	font-size: 10pt;
	list-style: ;
	margin-left: 30pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-weight: normal;
	font-style: normal;
	font-family: Arial;
}

li.Num-list
{
	text-align: left;
	font-size: 10pt;
	list-style: decimal;
	margin-left: 0pt;
	margin-top: 6pt;
	margin-bottom: 6pt;
	font-family: Arial;
}

li.Num-list2
{
	text-align: left;
	font-size: 10pt;
	list-style: lower-alpha;
	margin-left: 30pt;
	margin-top: 6pt;
	margin-bottom: 6pt;
	font-family: Arial;
}

p.Note
{
	color: #000080;
	margin-bottom: 18pt;
	background-color: #E1F0FF;
	vertical-align: Baseline;
	margin-top: 18pt;
	list-style: ;
	font-size: 10pt;
	mc-next-tag: p;
	margin-left: 41pt;
	text-indent: -31pt;
	font-family: Arial;
}

li.Note
{
	vi: ;
	margin-bottom: 18pt;
	background-color: #E1F0FF;
	vertical-align: Baseline;
	margin-top: 18pt;
	list-style: ;
	font-size: 10pt;
	text-indent: -31pt;
	margin-left: 41pt;
	mc-next-tag: p;
	font-family: Arial;
}

p.Tablenote
{
	color: #000080;
	background-color: #E1F0FF;
	margin-top: 0pt;
	margin-bottom: 0pt;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 9pt;
	mc-next-tag: tabletext;
	font-family: Arial;
}

p.Note2
{
	color: #000080;
	text-align: left;
	margin-top: 18pt;
	margin-bottom: 18pt;
	line-height: Normal;
	margin-right: 33pt;
	background-color: #E1F0FF;
	font-size: 10pt;
	text-indent: -31pt;
	margin-left: 62pt;
	mc-next-tag: p;
	font-family: Arial;
}

li.Note2
{
	text-align: left;
	margin-top: 18pt;
	margin-bottom: 18pt;
	line-height: Normal;
	margin-right: 33pt;
	background-color: #E1F0FF;
	font-size: 10pt;
	text-indent: -31pt;
	margin-left: 62pt;
	mc-next-tag: p;
	font-family: Arial;
}

li.Note3
{
	text-align: left;
	margin-top: 18pt;
	margin-bottom: 18pt;
	line-height: Normal;
	margin-right: 33pt;
	background-color: #E1F0FF;
	font-size: 10pt;
	text-indent: -31pt;
	margin-left: 76pt;
	mc-next-tag: p;
	mc-auto-number-format: 'Note: ';
	font-family: Arial;
}

p.tabletext
{
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 10pt;
	text-align: left;
	margin-right: 0px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-left: 0;
	font-family: Arial;
}

p.tabletext_bold
{
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	margin-right: 0px;
	margin-left: 5pt;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-family: Arial;
}

p.caution
{
	color: #000080;
	text-indent: -42.75pt;
	margin-left: 52.8pt;
	mc-next-tag: p;
	background-color: #fec5b4;
	font-size: 10pt;
}

p.topiclinklist
{
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 10pt;
}

p.videolinklist
{
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 0pt;
}

h2.Related
{
	mc-next-class: topiclinklist;
	mc-next-tag: p;
	font-style: italic;
	font-family: Verdana, Arial, sans-serif;
	font-size: 12pt;
	font-weight: normal;
}

span.keylabel
{
	font-weight: bold;
	font-size: 10pt;
	font-family: Arial;
	font-variant: small-caps;
}

span.mono
{
	font-family: 'Courier New';
	font-size: 10pt;
}

span.userinput
{
	font-weight: bold;
	font-family: Arial;
}

span.superscript
{
	font-size: 8pt;
	vertical-align: super;
}

span.bold
{
	font-weight: bold;
}

span.italic
{
	font-style: italic;
}

MadCap|breadcrumbsProxy
{
	font-weight: normal;
	font-style: italic;
	color: #696969;
	mc-breadcrumbs-prefix: 'You are here: ';
	border-bottom: solid 1px black;
	border-top: solid 1px black;
}

p.right
{
	font-size: 10pt;
	margin-left: 10pt;
	text-align: right;
	font-family: Arial;
}

p.header
{
	font-size: 10pt;
	margin-left: 10pt;
	font-weight: normal;
	font-style: italic;
	text-align: right;
	color: #696969;
	margin-right: 0px;
	font-family: Arial;
}

thead
{
	font-size: 10pt;
	font-weight: bold;
	font-style: normal;
	font-family: Arial;
}

tbody
{
	font-size: 10pt;
	font-family: Arial;
}

table
{
	font-size: 10pt;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-spacing: 0;
	border: solid 1px #000000;
	border-collapse: collapse;
	border-style: solid;
	border-right-color: #000000;
	border-top-color: #000000;
	border-left-color: #000000;
	font-family: Arial;
}

td
{
	border-collapse: collapse;
	border-color: #000000;
	border-left: solid 1px;
	border-right: solid 1px #000000;
	border-style: solid;
	border-top: solid 1px #000000;
	border-width: 1px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	vertical-align: top;
}

th
{
	border: solid 1px #000000;
	padding: 3px;
}

MadCap|xref.related
{
	mc-format: '{title}';
}

MadCap|xref.bookmark
{
	mc-format: '{para}';
}

img
{
	border-bottom-color: #ffffff;
	border-left-color: #ffffff;
	border-right-color: #ffffff;
	border-top-color: #ffffff;
}

td.demo
{
	border-color: #ffffff;
	border-right: solid 1px #ffffff;
	border-bottom: solid 1px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #ffffff;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	text-align: left;
	text-indent: 0px;
	font-size: 11pt;
	color: #000080;
	font-style: italic;
	font-weight: bold;
	vertical-align: top;
	font-family: Arial;
}

p.topiclinklist_indent
{
	margin-left: 20pt;
	margin-top: 0em;
	margin-bottom: 0em;
}

p.demohead
{
	font-size: 11pt;
	color: #000080;
	font-style: italic;
	font-weight: bold;
	padding-left: 0px;
	text-indent: 0px;
	margin-left: 0;
	margin-top: 0;
	margin-bottom: 3px;
}

h4
{
	color: #005f97;
	font-size: 10pt;
	font-weight: normal;
}

h5
{
	font-weight: bold;
	font-family: Arial;
}

h6
{
	font-weight: bold;
	font-family: Arial;
}

caption
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

code
{
	font-family: 'Courier New';
	font-size: 10pt;
}

p.CodeBlock
{
	font-family: 'Courier New';
	font-size: 9pt;
}

pre
{
	font-family: 'Courier New';
}

kbd
{
	font-family: Arial;
	font-size: 10pt;
	font-variant: small-caps;
	font-weight: bold;
}

div.nav
{
	background-color: #ffffff;
	background-attachment: scroll;
	background-repeat: repeat-x;
	top: 71px;
	position: absolute;
	width: 970px;
	padding: 0px;
	background-image: url('progress_logo_banner.gif');
	padding-left: 0px;
}

